html, body {
    height:100%;
    background-color:#F5F5F5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.container {
    max-width:1100px;
}
.header-container {
    padding:0;
}
.column-style {
    height:200px;
    background-color:white;
    border: 1px solid lightgray;
}
.panel {
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
}
.panel-invitation {
    background-color:white;
    border: 1px solid lightgray;
    padding:16px;
    margin: 0px 0 15px;
}
.panel-invitation__link {
    color:#0000008c;
    font-size:12px;
}
