.user-grid {
    padding:0;
    border-top: 1px solid lightgray;
    border-left: 1px solid lightgray;
}
.user-grid__header {
    padding:16px;
    border-right:1px solid lightgray;
    border-bottom:1px solid lightgray;
    padding-right:0;
    background-color:white;
}